<ng-template #content let-modal>
	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">Add issue</h4>
		<button type="button" class="close" aria-label="Close" (click)="onNoClick()">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body">
		<app-issue-form [formContent]="formContent" [afterSubmit]="dialogRef"></app-issue-form>
	</div>
</ng-template>
  
<button mat-fab color="primary" class="fixed-bottom-right" (click)="open(content)">
	<mat-icon>add</mat-icon>
</button>